@font-face {
    font-family: "Lombardic";
    src: url("fonts/Lombardic.ttf") format("truetype");
}

@font-face {
    font-family: "Glacial";
    src: url("fonts/GlacialIndifference.otf") format("opentype");
}

.background {
    width: 100vw !important;
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

body, html {
    color: white;
    background-color: #0D1A2F;
    font-family: Glacial;
}

.heroBanner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    position: absolute;
    font-family: Lombardic;
    z-index: 2;
    font-size: 10vw;
}

.table {
    font-family: Glacial;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid white;
    padding: 12px 15px;
}

.left-align {
    text-align: left;
}
.center-align {
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1vw;
}

ul {
    margin-top: 0vh;
    font-size: 1vw;
}

.paragraph {
    padding: 3%;
}






/*education color*/
#Vector_26, #Vector_27, #Vector_28, #Vector_29, #Vector_30, #Vector_31, #Vector_32, #Vector_33, #Vector_34, #Ellipse1_4, #Line1_4, #Line2_4 {
    fill: #90D5FF;
    stroke: #90D5FF;
}




#Education, #Home, #Engineering, #Experience {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.2s;
    z-index: 6;
}

#Education.fadein {
    opacity: 0.6;
    pointer-events: all;
    cursor: auto !important;
}

#Experience.fadein, #Home.fadein, #Engineering.fadein {
    opacity: 1;
    pointer-events: all;
    cursor: pointer !important;
}

#gear {
    pointer-events: all;
    cursor: pointer;
}

#gear.cursor {
    cursor: default;
}


.lines {
    position: fixed;
    top: 2vh;
    right: 0vw;
    width: 7vw;
    height: 7vh;
    transform-origin: center center;
    opacity: 1;
    object-fit: contain; 
    transition: transform 1.2s ease, width 1.2s ease, height 1.2s ease, opacity 1.2s ease;
    will-change: transform;
    z-index: 6;
    pointer-events: none;
    transform: rotate(0deg);
}

#circle {
    pointer-events: all;
    cursor: pointer;
}

#circle.noshow {
    pointer-events: none;
    cursor: auto;
}

.lines.active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    transform: rotate(720deg);
    transform-origin: center center;
}

#lines_1 {
    cursor: pointer;
}

.overlay {
    background-color: #1b2432;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1.2s ease;
}

.overlay.show {
    pointer-events: all;
    transition: opacity 1.2s ease;
    opacity: 0.85;
    /*cursor: pointer;*/
}