@font-face {
    font-family: "Lombardic";
    src: url("fonts/Lombardic.ttf") format("truetype");
}

@font-face {
    font-family: "Glacial";
    src: url("fonts/GlacialIndifference.otf") format("opentype");
}

.background {
    width: 100% !important;
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

body, html {
    color: white;
    background-color: #0D1A2F;
    font-family: Glacial;
    font-size: 1.3vw;
    width: 100%;
    padding: 0;
    margin: 0;

    /* Hide scrollbar */
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none; 
    overflow-y: scroll; 
}

html.no-scroll, body.no-scroll {
    overflow: hidden !important;
}

.heroBanner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    position: absolute;
    font-family: Lombardic;
    z-index: 2;
    font-size: 10vw;
}


.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clickPuzzle {
    cursor: pointer;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: none;
}

.show {
    display: flex !important;
}

.popup-cube {
    padding: 2vh;
    position: relative;
    background-color: #2b2b2b;
    border-radius: 10px;
    width: 90vw;
    height: 80vh;
    z-index: 3;
    display: grid;
    overflow-y: scroll;

    /* Hide scrollbar */
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none; 
    overflow-y: scroll; 
}

.arrowWrapper {
    width: 1vw !important;
    object-fit: contain;
    z-index: 5;
}

#nextArrow, #previousArrow {
    cursor: pointer;
    z-index: 5;
}

.cubeImages {
    height: 60vh;
}

.cubeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 3vw;
    position: relative;
    padding: 2vh 2vh 0 2vh;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.carousel img {
    flex: 0 0 100%;
    height: 55vh;
    object-fit: contain;
}

.carouselWindow {
    width: 37vw;
    overflow: hidden;

    display: block;
}

.centeringWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 3vw;
}

.x {
    width: 2vw;
    height: 2vw;
    padding: 1vw;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}