@font-face {
    font-family: "Lombardic";
    src: url("fonts/Lombardic.ttf") format("truetype");
}

@font-face {
    font-family: "Glacial";
    src: url("fonts/GlacialIndifference.otf") format("opentype");
}




.no-scroll {
    overflow: hidden;
    height: 100vh;
}

html, body {
    /* Hide scrollbar */
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none; 
    overflow-y: scroll; 
}

body {
    padding: 0;
    margin: 0;
    background-color: #10161F;
    width: 100%;
}

.background {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.titleLayout {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}





.gear-wrapper {
    position: relative;
    height: 17.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Education, #Home, #Engineering, #Experience {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.2s;
    z-index: 6;
}

#Education.fadein, #Home.fadein, #Engineering.fadein, #Experience.fadein {
    opacity: 1;
    pointer-events: all;
    cursor: pointer !important;
}

#gear {
    pointer-events: all;
    cursor: pointer;
}

#gear.cursor {
    cursor: default;
}


.lines {
    position: absolute;
    width: 47vw;
    height: auto;
    object-fit: contain; 
    transition: width 1.2s ease, transform 1.2s ease, opacity 1.2s ease;
    will-change: transform;
    z-index: 6;
    pointer-events: none;
     transform: translate(0%, 0%) rotate(0deg);
}

.lines.active {
    position: fixed;
    width: 100vw;
    transform: translateY(10%) rotate(360deg);
    transform-origin: center center;
}







.overlay {
    background-color: #1b2432;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1.2s ease;
}

.overlay.show {
    pointer-events: all;
    transition: opacity 1.2s ease;
    opacity: 0.85;
    /*cursor: pointer;*/
}

.name {
    font-family: Lombardic;
    color: white;
    font-size: 7vw;
    margin-top: 1vw;
    margin-bottom: 0vw;
    z-index: 2;
}

.description {
    font-family: Glacial;
    color: white;
    font-size: 2.5vw;
    margin-top: 0vw;
    margin-bottom: 0;
    z-index: 2;
}

.mainLayout {
    position: relative;
    width: 100%;
    height: 88vh;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image-wrapper {
    width: 25vw;
    height: fit-content;
    border-radius: 20px;
    overflow: hidden;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.column {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: fit-content;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.title {
    font-family: Lombardic;
    color: white;
    font-size: 6vw;
    margin-bottom: 1vh;
    margin-top: 0vh;
}

.paragraph {
    color: white;
    font-family: Glacial;
    font-size: 2.3vw;
    margin-top: 0;
    margin-bottom: 0;
}

.footer {
    height: 12vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.footerTitle {
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: right;
    margin-left: auto;
    padding-right: 1vw;
    font-family: Lombardic;
    font-size: 2vw;
}